<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div id="border-home">
  <div id="ui three item menu">
    <a href="{{ site.baseurl}}/files/nov_2019.pdf" target="_blank" class="item">
      <p class="menu-buttons">
        Resume
      </p>
    </a>
    <a href="{{ site.baseurl}}/essays/" class="item">
      <p class="menu-buttons">
        Essays
      </p>
    </a>
    <a href="{{ site.baseurl}}/projects/" class="item">
      <p class="menu-buttons">
        Projects
      </p>
    </a>
    <div id="home-icon">
      <a href="{{ site.baseurl}}/">
        <i class="big home icon"></i>
      </a>
    </div>
  </div>
<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div style="text-align: center" class="column">
    <div class="ui fluid centered circular image">
      <img id='image' style="max-width: 300px" src="{{ site.data.bio.basics.picture }}">
  </div>
  </div>
  <div id="middle-text">
  <div class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class="">{{ site.data.bio.basics.label }}</p>
    <p class="">
      {{ site.data.bio.basics.summary }}
    </p>
    <p style="text-align: center">
      {% include home-network-links.html %}
    </p>
  </div>
</div>
</div>
</div>
