---
layout: default
---
<div class="border-other">
  <div id="ui three item menu">
    <!--    <a href="{{ site.baseurl}}/files/nov_2019.pdf" target="_blank" class="item">-->
    <!-- REPLACE THIS -->
    <a class="item" href="{{ site.baseurl}}/bio/">
      <!-- REPLACE THIS -->
      <p class="menu-buttons">
        Resume
      </p>
    </a>
    <a href="{{ site.baseurl}}/essays/" class="item">
      <p class="menu-buttons">
        Essays
      </p>
    </a>
    <a href="{{ site.baseurl}}/projects/" class="item">
      <p class="menu-buttons">
        Projects
      </p>
    </a>
    <div id="home-icon">
      <a href="{{ site.baseurl}}/">
        <i class="big home icon"></i>
      </a>
    </div>
  </div>

{{ content }}

</div>